<h1>Welcome to Batch 777</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Esse veritatis, consequatur! Quos ratione optio aliquid, repudiandae cupiditate, dolorem, suscipit non ducimus cum velit tenetur illum nemo. Exercitationem molestiae mollitia quae.</p>

<% today = Date.today %>
<p style="font-weight: 800;">
  Today is: <%= today %>
</p>
